# NODE
.node_modules
node_modules
*/node_modules
/node_modules/*
/node_modules
/bower_components

#----------------------------------------------------------------------------
# MISC
#----------------------------------------------------------------------------
.*cache
*.log
cache/*
backup
_files
log
log/**/*
.monitor
Forwardfile

# OS X Files
.DS_Store
Thumbs.db
*.swp
*.swo
*.lnk
*~