extends layout

block content
    center
      h3 Hot or Not Districts
      img#myImage(src='/images/bakeoff.jpg', style='width:300px;height:300px;')
      br
    .row
      .col-sm-2
      .col-sm-4
        center
          button#hotClicker.btn.btn-default(type='button', onclick='onHotClick()') HOT
          p
            | Clicks:
            a#hotClicks 0
      .col-sm-4
        center
          button#notClicker.btn.btn-default(type='button', onclick='onNotClick()') NOT
          p
            | Clicks:
            a#notClicks 0
    center
      br
      br
      a(href="/top10") Top 10
      br
      br
      a(href="/About.html") About page
      br
      br
      a(href="https://github.com/gerrymandr/hot-or-not") Open Source Code
