extends layout

block content
    img#myImage(src='/images/bakeoff.jpg', style='width:300px;height:300px;')
    br
    .row
      .col-sm-4
        button#hotClicker.btn.btn-default(type='button', onclick='onHotClick()') HOT
        p
          | Clicks:
          a#hotClicks 0
      .col-sm-4
        button#notClicker.btn.btn-default(type='button', onclick='onNotClick()') NOT
        p
          | Clicks:
          a#notClicks 0
    center
      br
      a(href="/About.html") About page
