extends layout

block content
    center
      h3 Hot or Not Districts
      h3 Top 10
      for district in districts
        h4 #{district.hot} HOT vs #{district.not} NOT
        img(src="/images/#{district.filename}", width="300")

    center
      br
      br
      a(href="/") Homepage
      br
      br
      a(href="/About.html") About page
      br
      br
      a(href="https://github.com/gerrymandr/hot-or-not") Open Source Code
